header {
     position: fixed;
     width: 100%;
     background: rgb(0, 110, 255);
     margin-bottom: 4em;
     z-index: 100;
 
     .container{
         color: rgb(246, 240, 255);
     }
     nav {
         justify-self: left;
     
         ul {
             list-style-type: none;
             margin: 0; 
             padding: 0;
 
             li {
                 float: left;
 
                 a {
                     padding: 1em;
                     text-transform: uppercase;
                     font-size: .8em;
                     color: aliceblue;
                     &:hover {
                         background: rgb(107, 43, 255);
                     }
                 }
             }
         }
     }
 }